<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://127.0.0.1:3333/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="IChatService"
                name="">
                <identity>
                    <userPrincipalName value="GAO\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MessageService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMyMessage"
                contract="ServiceReference1.IMyMessage" name="WSDualHttpBinding_IMyMessage">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IChatService" sendTimeout="00:00:05">
            <reliableSession enabled="true" />
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_IMyMessage" />
        </wsDualHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>